@import '../scss/variable';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* ,
*::after , 
*::before {
  margin : 0 ;
  padding: 0;
  box-sizing: border-box;
}
button {
  border : none ;
}

html {
  scroll-behavior: smooth;
  font-size : 62.5%;
   // This defines what 1rem is
   font-size: 62.5%;
   scroll-behavior: smooth;
 
   @include respond(tab-land) {
     // < 1200px ?
     font-size: 50%; // 1rem = 9px
   }
 
   @include respond(tab-port) {
     // < 900px
     font-size: 62.5%; // 1rem = 8px
   }
 
   @include respond(big-desktop) {
     // > 1800px
     font-size: 75%; // 1 rem = 12px
   }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  background-color: $color-black;
}

button {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  cursor: pointer;
}